<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>html{visibility: hidden;opacity:0;}</style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block stylesheets_and_scripts %}
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/fouc.css')}}">
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="nav-bar">
      <span uk-icon="icon: menu; ratio:1.5" id="menu-icon"></span>
      <div class="nav-content">
        <div class="uk-heading-small nav-title"><a uk-tooltip="title: Home; pos: top-right" href="{{url_for('home')}}" class="nav-link uk-link-reset">Epictools</a></div>
        {% if not current_user.is_authenticated %}
        <a class="nav-link nav-item-link uk-link-reset" href="{{url_for('register')}}" uk-tooltip="title: Register; pos: left"><div class="nav-item uk-text-large"><span class="nav-icon" uk-icon="icon: sign-in; ratio:1.5"></span>Register</div></a>
        <a class="nav-link nav-item-link uk-link-reset" href="{{url_for('login')}}" uk-tooltip="title: Login; pos: left"><div class="nav-item uk-text-large"><span class="nav-icon" uk-icon="icon: sign-in; ratio:1.5"></span>Login</div></a>
        {% elif current_user.is_authenticated %}
        <a class="nav-link nav-item-link uk-link-reset" href="{{url_for('tools')}}" uk-tooltip="title: Tools; pos: left"><div class="nav-item uk-text-large"><span class="nav-icon" uk-icon="icon: code; ratio:1.5"></span>Tools</div></a>
        <a class="nav-link nav-item-link uk-link-reset" href="{{url_for('logout')}}" uk-tooltip="title: Logout; pos: left"><div class="nav-item uk-text-large"><span class="nav-icon" uk-icon="icon: sign-out; ratio:1.5"></span>Logout</div></a>
        {% endif %}
        <!--
        <button class="uk-button uk-button-default" type="button">Hover</button>
        <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
      -->

        <div class="nav-dropdown-wrapper">
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li class="nav-dropdown-item"><a class="nav-link uk-link-reset">About</a></li>
              <li class="nav-dropdown-item"><a class="nav-link uk-link-reset">Terms of Service</a></li>
              <li class="nav-dropdown-item"><a class="nav-link uk-link-reset">Privacy Policy</a></li>
              <li class="nav-dropdown-item"><a class="nav-link uk-link-reset">Credits</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
