{% extends "base.html" %}
{% block content %}
<h2 class="uk-align-center">Login</h2>
<form class="uk-align-center" style="height:50%;" novalidate method="POST">
  {# This hidden_tag is a CSRF security feature. #}
  {{ form.hidden_tag() }}
  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      {{ form.username(placeholder="Username", class="uk-input uk-form-width-medium") }}
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: lock"></span>
      {{ form.password(placeholder="Password", class="uk-input uk-form-width-medium") }}
    </div>
  </div>
  <div class="uk-margin">
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </div>
  <div class="uk-margin">
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </div>
  <div class="uk-margin">
    {% for mess in get_flashed_messages(category_filter=["form"]) %}
    {{mess}}
    {% endfor %}
  </div>
  {{ form.submit(class="uk-input uk-form-width-medium") }}
</form>
{% for mess in get_flashed_messages(category_filter=["modal"]) %}
<div id="modal-close-default" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    {{ mess }}
  </div>
</div>
{% endfor %}
{% endblock %}
{% block stylesheets_and_scripts %}
<script src="{{url_for('static', filename='js/modal.js')}}"></script>
{% endblock %}
{% block head %}
<button style="display:none;" class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default" id="modal-button">Default</button>
{% endblock %}
