{% extends "base.html" %}
{% block content %}
<div class="bg">
  {% if request.path == "/register" %}
  <div class="login-register-text">Already have an account? Login!</div>
  <div class="login-register-button"><a href="{{url_for('login')}}" class="link">Login</a></div>
  {% elif request.path == "/login" %}
  <div class="login-register-text">Don't have an account? Register!</div>
  <div class="login-register-button"><a href="{{url_for('register')}}" class="link">Register</a></div>
  {% endif %}
</div>
<div class="form-wrapper">
  <div class="form-box">
    <h2 class="form-heading">Login</h2>
    <form class="form" style="height:50%;">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.username(class="input", placeholder="Username", maxlength=100) }}
      {{ form.password(class="input", placeholder="Password", maxlength=20) }}
      {{ form.submit(class="input submit") }}
      {% for mess in get_flashed_messages() %}
      {{ mess }}
      {% endfor %}
    </form>
  </div>
</div>
{% endblock %}
{% block stylesheets_and_scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}
