body {
  margin:0px;
}

.nav-bar {
  padding:20px;
  transition:width 0.2s;
  display:grid;
  grid-template-rows:4% 94%;
  width:6vh;
  height:100vh;
  border-right:1px solid #DDD;
}

.nav-content {
  width:80%;
  height:100%;
  display:grid;
  grid-template-rows:10% 6% 6% 66% 6%;
  color:black;
}

.nav-content-enlarged {
  width:30vh;
}

.nav-content-enlarged > #menu-icon {
  justify-self:end;
}

.nav-title {
  align-self:start;
  font-weight:lighter;
  padding-left:20px;
}

.nav-item {
  align-self:center;
}

.nav-link {
  font-weight:lighter;
}

.nav-item-link {
  display:grid;
  border-radius:20px;
  padding-left:20px;
  transition:background-color 0.2s;
}

.nav-item-link:hover {
  background-color:#EEE;
}

.nav-icon {
  margin-right:15px;
}

.nav-dropdown-wrapper {
  grid-row:5;
}

#menu-icon {
  align-self:center;
  justify-self:center;
}

#menu-icon > svg, #close-icon > svg {
  cursor:pointer;
}
