body {
  margin:0px;
  height:100vh;
  width:100%;
}
/*
.nav-bar {
  z-index:1;
  top:0;
  left:0;
  position:fixed;
  padding:20px;
  transition:width 0.2s;
  display:grid;
  grid-template-rows:4% 94%;
  width:6vh;
  height:100vh;
  border-right:1px solid #DDD;
}

.nav-content {
  width:80%;
  height:100%;
  display:grid;
  grid-template-rows:10% 6% 6% 62% 10%;
  grid-template-columns:10% 90%;
  grid-gap:20px;
  color:black;
}

.nav-content > * {
  grid-column:2;
}

.nav-content-enlarged {
  width:30vh;
}

.nav-content-enlarged > #menu-icon {
  justify-self:end;
}

.nav-title {
  align-self:start;
  font-weight:lighter;
}

.nav-item {
  align-self:center;
}

.nav-link {
  font-weight:lighter;
  height:100%;
  width:100%;
}

.nav-item-link {
  display:grid;
  border-radius:20px;
}

.nav-icon {
  margin-right:15px;
}

.nav-dropdown-wrapper {
  grid-row:5;
}

#menu-icon {
  align-self:center;
  justify-self:center;
}

#menu-icon > svg, #close-icon > svg {
  cursor:pointer;
}
*/
